<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-lg-1">
            <nav class="navigation">
              <a href="javascript:void(0)" (click)="goBack()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
            </nav>
          </div>
          <div class="col-lg-6">
            Expense category name
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <p-table [value]="tableList?.results" [paginator]="true" [rows]="rowsPerPage"  [totalRecords]="tableList?.pagingInfo?.totalPages"
                 [lazy]="true" (onLazyLoad)="OnloadListLazy($event)" selectionMode="single" [responsive]="true"
                 dataKey="expenseCategoryId"
                 (onRowSelect)="onRowSelect($event)">
          <ng-template pTemplate="header">
            <tr>
              <th>Expense category name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tableRow>
            <tr [pSelectableRow]="tableRow">
              <td>{{tableRow.expenseCategoryName}}</td>
            </tr>
          </ng-template>
        </p-table>
      </nb-card-body>
    </nb-card>
  </div>
  <!--Right side-->
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Create expense category</nb-card-header>
      <nb-card-body>
        <form novalidate (ngSubmit)="create()" [formGroup]="createForm">
          <!--Name-->
          <div class="input-group">
            <input type="text" nbInput fullWidth placeholder="" formControlName="expenseCategoryName">
            <span class="help-block" *ngIf="(createForm.get('expenseCategoryName').touched || createForm.get('expenseCategoryName').dirty) && createForm.get('expenseCategoryName').errors">
              <span *ngIf="createForm.get('expenseCategoryName').errors.required" class="text-danger">
                expense category name is required!.
              </span>
            </span>
          </div>
          <!--end name-->
          <br />
          <div class="input-group">
            <div class="container-btn">
              <button class="btn-demo" type="submit" [disabled]="!createForm.valid" nbButton hero status="success">Save</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
