@{
    ViewData["Title"] = "My2Home";
}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="banner_content">
                        <h2>
                            Easy To Use <br>
                            Hostel Management System
                        </h2>
                        <p>
                            Streamline your hotel management and make your life easier
                        </p>
                        <div class="d-flex align-items-center">
                            <a class="primary_btn" href="/index.html#/auth/register"><span>Get Started</span></a>
                            
                            @*<a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?time_continue=2&v=J9YzcEe29d0">
                                <span></span>
                            </a>
                            <div class="watch_video text-uppercase">
                                watch the video
                            </div>*@

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="home_right_img">
                        <img class="img-fluid" src="/images/newdashboard.png" height="363" width="617" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Start Features Area =================-->
<section class="section_gap features_area" id="Features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <p class="top_title">Exclusive Stunning Features</p>
                    <h2>
                        A Complete Cloud base hostel management system with easy back-end management
                    </h2>
                    <p>
                        offers a full featured system to efficiently manage the entire
                        residential facility.
                        Reducing the staff & paper works, 
                        this hostel accomodation software will keep the
                        updated records of tenants, their rents,
                        beds, transfer room, hostel expenses and other facilities
                    </p>
                    
                    <a href="/index.html#/auth/register" class="primary_btn"><span>Start Free Trial Now!</span></a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="left_features">
                    <img class="img-fluid" src="/images/accountdtails.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <!-- single features -->
                <div class="single_feature">
                    <div class="feature_head">
                        <span class="lnr lnr-screen"></span>
                        <h4>Create multiple hostels</h4>
                    </div>
                    <div class="feature_content">
                        <p>You can create unlimited number of hostels.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="single_feature">
                    <div class="feature_head">
                        <span class="lnr lnr-screen"></span>
                        <h4>Unlimited number of rooms</h4>
                    </div>
                    <div class="feature_content">
                        <p>Create as many rooms as you want to.</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="single_feature">
                    <div class="feature_head">
                        <span class="lnr lnr-screen"></span>
                        <h4>Unlimited number of beds</h4>
                    </div>
                    <div class="feature_content">
                        <p>Create unlimited number of beds.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Features Area =================-->
<!--================Recent Update Area =================-->
<section class="recent_update_area">
    <div class="container">
        <div class="recent_update_inner">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                        <span class="lnr lnr-screen"></span>
                        <h6>Modern Design </h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                       aria-selected="false">
                        <span class="lnr lnr-screen"></span>
                        <h6>Super Advanced Admin Panel</h6>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                       aria-selected="false">
                        <span class="lnr lnr-screen"></span>
                        <h6>Unlimited Hostels, Tenants & Listings</h6>
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row recent_update_text align-items-center">
                        <div class="col-lg-5">
                            <div class="common_style">
                                <p class="line">Modern Daesign and mobile friendly </p>
                                <h3>Efficient <br />  Hostel Management System</h3>
                                <p>is the most advanced  management system for all types of bed accommodation providers, including hostels.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="chart_img">
                                <img class="img-fluid" src="/gaas/img/chart.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row recent_update_text align-items-center">
                        <div class="col-lg-5">
                            <div class="common_style">
                                <p class="line">Enterprise system</p>
                                <h3>We Believe on <br /> higher staff efficiency</h3>
                                <p>Enterprise-grade hostel management, higher staff efficiency, next-level guest satisfaction.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="chart_img">
                                <img class="img-fluid" src="/gaas/img/chart.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row recent_update_text align-items-center">
                        <div class="col-lg-5">
                            <div class="common_style">
                                <p class="line">Easy to use</p>
                                <h3>We Believe on <br /> simplicity lasts long</h3>
                                <p>
                                    Forget complex IT and fragmented software.
                                    It’s one system, in the cloud
                                </p>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="chart_img">
                                <img class="img-fluid" src="/gaas/img/chart.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Recent Update Area =================-->
<!--================Start Big Features Area =================-->
<section class="section_gap big_features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="main_title">
                    <p class="top_title">Features Specifications</p>
                    <h2>Amazing Features That make it Awesome!</h2>
                    <p>Cost Effective</p>
                </div>
            </div>
        </div>
        <div class="row features_content">
            <div class="col-lg-4 offset-lg-1">
                <div class="big_f_left">
                    <img class="img-fluid" src="/gaas/img/f-img1.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
                <div class="common_style">
                    <p class="line">Modern Daesign</p>
                    <h3>High Return of Investment <br /> </h3>
                    <p>Hostel management system has the facility to maintain records for rooms that have allotted to tenants like which room is allotted to which tenants and at what price</p>
                   
                </div>
            </div>
            <div class="border-line"></div>
            <img class="shape1" src="/gaas/img/shape1.png" alt="">
            <img class="shape2" src="/gaas/img/shape2.png" alt="">
            <img class="shape3" src="/gaas/img/shape1.png" alt="">
        </div>

        <div class="row features_content bottom-features">
            <div class="col-lg-5">
                <div class="common_style">
                    <p class="line">Rents</p>
                    <h3>Manage <br /> hostel rents </h3>
                    <p>You can easily maintain a list of rooms, bed with their full details</p>
                    
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <div class="big_f_left">
                    <img class="img-fluid" src="/gaas/img/f-img2.png" alt="">
                </div>
            </div>
            <div class="border-line"></div>
            <img class="shape1" src="/gaas/img/shape1.png" alt="">
            <img class="shape2" src="/gaas/img/shape2.png" alt="">
            <img class="shape3" src="/gaas/img/shape1.png" alt="">
        </div>
    </div>
</section>
<!--================End Big Features Area =================-->
<!--================Srart Pricing Area =================-->

<!--================End Pricing Area =================-->
<!--================ Start Testimonial Area =================-->


<!--================ End Testimonial Area =================-->
<!--================ Srart Brand Area =================-->

<!--================ End Brand Area =================-->
<!--================Impress Area =================-->
<section class="impress_area">
    <div class="container">
        <div class="impress_inner">
            <h2>Got Impressed to our features?</h2>
            <p>
                Upgrade your hostel with our smart hostel management software which bring quality in your business and helps you in getting better results
            </p>
            <a class="primary_btn" href="/index.html#/auth/register"><span>Request Free Demo</span></a>
        </div>
    </div>
</section>
<!--================End Impress Area =================-->
<!--================Footer Area =================-->
<footer class="footer_area" id="contact">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-5 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h3>About ZM Technologies</h3>
                    </div>
                    <p>
                        ZM Technologies is a top tier information technology products generator, provider and manager. We manipulate technology and experience to bring our clients as many high quality escorts and user traffic as possible for the best prices available. A strong innovative background and extensive experience in production & management of information technology products gives us the ability to rapidly 
                        generate innovative products so as to cause a technological revolution.
                    </p>
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </aside>
            </div>           
            
        </div>
    </div>
</footer>
