<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-lg-1">
            <nav class="navigation">
              <a href="javascript:void(0)" (click)="goBack()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
            </nav>
          </div>
          <div class="col-lg-1">
            Dashboard
          </div>
          <div class="col-lg-1">
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label>Select Hostel</label>
              <p-dropdown [options]="hostelDropDownList?.results" filterBy="label,value" class="" [(ngModel)]="selectedHostelId"
                          appendTo="body" placeholder="Select a Hostel"
                          (onChange)="onShowDashboardChange($event)"></p-dropdown>
            </div>
          </div>
          <!--<div class="col-lg-3">
            <div class="form-group">
              <label>Select Month and year</label>
              <p-calendar view="month" class="" [(ngModel)]="searchCondition" dateFormat="mm/yy"></p-calendar>
            </div>
          </div>-->
          <!--<div class="col-lg-2">
            <label>Click on button</label>
            <button (click)="OnShowDashboardClick($event)" type="button" pButton icon="" class="ui-button-info" label="Show"> </button>
          </div>-->

        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Total Tenants
      </nb-card-header>
      <nb-card-body>{{dashboardData?.totalTenants}}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Total Beds
      </nb-card-header>
      <nb-card-body>{{dashboardData?.totalBeds}}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Total UnOccupied Beds
      </nb-card-header>
      <nb-card-body>
        {{dashboardData?.totalUnOccupiedBeds}}
      </nb-card-body>
    </nb-card>
  </div>
  
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Due Rents of {{currentMonthAccountData?.rentMonth}}, {{currentMonthAccountData?.rentYear}}
      </nb-card-header>
      <nb-card-body>{{currentMonthAccountData?.dueRents}}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Paid Rents of {{currentMonthAccountData?.rentMonth}}, {{currentMonthAccountData?.rentYear}}
      </nb-card-header>
      <nb-card-body>
        {{currentMonthAccountData?.paidRents}}
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Total Rents of {{currentMonthAccountData?.rentMonth}}, {{currentMonthAccountData?.rentYear}}
      </nb-card-header>
      <nb-card-body>{{currentMonthAccountData?.totalRents}}</nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Due Rents of {{previousMonthAccountData?.rentMonth}}, {{previousMonthAccountData?.rentYear}}
      </nb-card-header>
      <nb-card-body>{{previousMonthAccountData?.dueRents}}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Paid Rents of {{previousMonthAccountData?.rentMonth}}, {{previousMonthAccountData?.rentYear}}
      </nb-card-header>
      <nb-card-body>
        {{previousMonthAccountData?.paidRents}}
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Total Rents of {{previousMonthAccountData?.rentMonth}}, {{previousMonthAccountData?.rentYear}}
      </nb-card-header>
      <nb-card-body>{{previousMonthAccountData?.totalRents}}</nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>
        Total Expenses of {{currentMonthAccountData?.rentMonth}}, {{currentMonthAccountData?.rentYear}}
      </nb-card-header>
      <nb-card-body>{{currentMonthAccountData?.totalExpenses}}</nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>

      </nb-card-header>
      <nb-card-body></nb-card-body>
    </nb-card>
  </div>
  <div class="col-xxxl-3 col-xxl-4 col-lg-4 col-md-6">
    <nb-card>
      <nb-card-header>

      </nb-card-header>
      <nb-card-body></nb-card-body>
    </nb-card>
  </div>
</div>




