<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Generate rent for single tenant </nb-card-header>
      <nb-card-body>
        <form novalidate (ngSubmit)="createSingleRent()" [formGroup]="createForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="">Hostel</label>
                <p-dropdown [options]="hostelDropDownList?.results" filterBy="label,value" class="form-control" formControlName="rentHostelId" [filter]="true"
                            appendTo="body" [required]="true" placeholder="Select a Hostel" (onChange)="onHostelChangeSingle($event)"></p-dropdown>

                <span class="help-block" *ngIf="(createForm.get('rentHostelId').touched || createForm.get('rentHostelId').dirty) && createForm.get('rentHostelId').errors">
                  <span *ngIf="createForm.get('rentHostelId').errors.required" class="text-danger">
                    Hostel  is required!.
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group" *ngIf="tenantDropDownList?.results.length>0">
                <label class="">Select Tenant</label>
                <p-dropdown [options]="tenantDropDownList?.results" filterBy="label,value" class="form-control" formControlName="rentTenantId" [filter]="true"
                            appendTo="body" [required]="true" placeholder="Select a Tenant" (onChange)="onTenantChange($event)"></p-dropdown>

                <span class="help-block" *ngIf="(createForm.get('rentTenantId').touched || createForm.get('rentTenantId').dirty) && createForm.get('rentTenantId').errors">
                  <span *ngIf="createForm.get('rentTenantId').errors.required" class="text-danger">
                    Tenant is required!.
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Rent Month</label>
                
                <p-calendar formControlName="rentDateTime" view="month" class="form-control" dateFormat="mm/yy"></p-calendar>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Rent Status</label>
                <p-dropdown [options]="rentStatusList" filterBy="label,value" class="form-control" formControlName="rentStatus"
                            appendTo="body"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>Rent Due Date</label>

                <p-calendar appendTo="body" formControlName="rentDueDateTime" [autoZIndex]="false" [baseZIndex]="99999999999"
                            [style]="{'width':'50%', height:'50%'}" class="form-control" dateFormat="mm/dd/yy"></p-calendar>

              </div>
            </div>
          </div>
          <br />
          <div class="form-group">
            <div class="container-btn">
              <button class="btn-demo" type="submit" [disabled]="!createForm.valid" nbButton hero status="success">Save single rent </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
