<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-lg-1">
            <nav class="navigation">
              <a href="javascript:void(0)" (click)="goBack()" class="link" aria-label="Back"><i class="icon nb-arrow-thin-left"></i></a>
            </nav>
          </div>
          <div class="col-lg-2">
            Room number
          </div>
          <div class="col-lg-1">
          </div>
          <div class="col-lg-4">
            <p-dropdown [options]="hostelDropDownList?.results" filterBy="label,value" class="" [(ngModel)]="selectedRoomHostelId" [filter]="true"
                        appendTo="body" placeholder="Select a Hostel" (onChange)="onHostelChange($event)"></p-dropdown>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body *ngIf="selectedRoomHostelId> 0">
        <p-table [value]="tableList?.results" [paginator]="true" [rows]="rowsPerPage" [totalRecords]="tableList?.pagingInfo?.totalRecords"
                 [lazy]="true" (onLazyLoad)="OnloadListLazy($event)" selectionMode="single" [responsive]="true" (onRowSelect)="onRowSelect($event)"
                 dataKey="roomId">
          <ng-template pTemplate="header">
            <tr>
              <th>Number</th>
              <th>Floor</th>
              <th>Total beds</th>
              <th>Rent per bed</th>
              <th class="th-dark th-small"><p style="align-content:center">Delete</p></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-tableRow>
            <tr [pSelectableRow]="tableRow">
              <td>{{tableRow.roomNumber}}</td>
              <td>{{tableRow.roomFloorNumber}}</td>
              <td>{{tableRow.roomNoOfBeds}}</td>
              <td>{{tableRow.roomRentPerBed}}</td>
              <td> <button type="button" (click)="OnDelete(tableRow)"  pButton icon="" class="ui-button-danger" label="Delete"> </button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-tableRow>
            <div style="text-align:left">
              <button type="button" pButton icon="fa fa-plus" (click)="showDialogToCreate()" label="Add"></button>

            </div>
          </ng-template>
        </p-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!--Dialog Create or edit Room-->
<p-dialog header="Room" [(visible)]="dialogToCreate" [responsive]="true" showEffect="fade" [baseZIndex]="99999999" [modal]="true" [style]="{'width': '500px', 'overflow':'scroll!important', 'z-index':'9999999!important'}"
          [contentStyle]="{'overflow':'visible'}">
  <div class="ui-g ui-fluid">
    <nb-card>
      <nb-card-body>
        <form novalidate (ngSubmit)="create()" [formGroup]="createForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="">Hostel</label>
                <p-dropdown [options]="hostelDropDownList?.results" filterBy="label,value" class="form-control" formControlName="roomHostelId" [filter]="true"
                            [required]="true" placeholder="Select a Hostel"></p-dropdown>
                <span class="help-block" *ngIf="(createForm.get('roomHostelId').touched || createForm.get('roomHostelId').dirty) && createForm.get('roomHostelId').errors">
                  <span *ngIf="createForm.get('roomHostelId').errors.required" class="text-danger">
                    Hostel  is required!.
                  </span>
                </span>
              </div>
            </div>
          </div>
          <!--roomNumber-->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Room number</label>
                <input type="text" nbInput fullWidth formControlName="roomNumber">
                <span class="help-block" *ngIf="(createForm.get('roomNumber').touched || createForm.get('roomNumber').dirty) && createForm.get('roomNumber').errors">
                  <span *ngIf="createForm.get('roomNumber').errors.required" class="text-danger">
                    roomNumber Name is required!.
                  </span>
                </span>
              </div>
            </div>
            <!--end roomNumber-->
            <!--roomFloorNumber-->
            <div class="col-sm-6">
              <div class="form-group">
                <label>Room floor number</label>
                <input type="number" nbInput fullWidth placeholder="" formControlName="roomFloorNumber">
              </div>
              <span class="help-block" *ngIf="(createForm.get('roomFloorNumber').touched || createForm.get('roomFloorNumber').dirty) && createForm.get('roomFloorNumber').errors">
                <span *ngIf="createForm.get('roomFloorNumber').errors.required" class="text-danger">
                  room floor number Name is required!.
                </span>
                <span *ngIf="createForm.get('roomFloorNumber').errors.pattern" class="text-danger">
                  Number only.
                </span>
              </span>

            </div>
          </div>
          <!--end roomFloorNumber-->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Room remarks</label>
                <input type="text" nbInput fullWidth formControlName="roomRemarks">
              </div>
            </div>
            <!--end roomNumber-->
            <!--roomRent-->
            <div class="col-sm-6">
              <div class="form-group">
                <label>Room rent</label>
                <input type="number" nbInput fullWidth placeholder="" formControlName="roomRent">
              </div>
              <span class="help-block" *ngIf="(createForm.get('roomRent').touched || createForm.get('roomRent').dirty) && createForm.get('roomRent').errors">
                <span *ngIf="createForm.get('roomRent').errors.required" class="text-danger">
                  room rent is required!.
                </span>
                <span *ngIf="createForm.get('roomRent').errors.pattern" class="text-danger">
                  number only!.
                </span>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>How many bed(seat) in a room </label>
                <input type="number" nbInput fullWidth formControlName="roomNoOfBeds">
              </div>
              <span class="help-block" *ngIf="(createForm.get('roomNoOfBeds').touched || createForm.get('roomNoOfBeds').dirty) && createForm.get('roomNoOfBeds').errors">
                <span *ngIf="createForm.get('roomNoOfBeds').errors.required" class="text-danger">
                  room number of beds is required!.
                </span>
                <span *ngIf="createForm.get('roomNoOfBeds').errors.pattern" class="text-danger">
                  number only!.
                </span>
              </span>
            </div>
            <!--end roomNoOfBeds -->
            <!--roomRentPerBed-->
            <div class="col-sm-6">
              <div class="form-group">
                <label>Rent per bed</label>
                <input type="number" nbInput fullWidth placeholder="" formControlName="roomRentPerBed">
              </div>
              <span class="help-block" *ngIf="(createForm.get('roomRentPerBed').touched || createForm.get('roomRentPerBed').dirty) && createForm.get('roomRentPerBed').errors">
                <span *ngIf="createForm.get('roomRentPerBed').errors.required" class="text-danger">
                  room rent per bed is required!.
                </span>
                <span *ngIf="createForm.get('roomRentPerBed').errors.pattern" class="text-danger">
                  number only!.
                </span>
              </span>
            </div>
          </div>
          
          <br />
          <div class="form-group">
            <div class="container-btn">
              <button class="btn-demo" type="submit" [disabled]="!createForm.valid" nbButton hero status="success">Save</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</p-dialog>



